/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
:root {
    --purple: #b91450;
}

::placeholder, input {
    text-align: center;
    text-transform: capitalize;
    color: #000;
}

body {
    background-color: var(--purple);
    font-family: 'Roboto', sans-serif;
}

ul {
    display: flex;
    list-style: none;
}

.section--common {
    width: 70%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
}

#ticket-data.display--block {
    display: block;
}

/* typo */
h2 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 20px;
}

h3 {
    text-transform: uppercase;
}

/* button */
button {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--purple);
    background-color: #cccccc;
    border-width: 0;
    border: 1.5px solid #808080;
    border-radius: 5px;
}
.btn {
    margin: 5px 15px;
}

/* ticket-form */
.section__ticket-form {
    border-radius: 10px;
}
.ticket-form__form,
.ticket-form__btn {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: var(--purple);
}

.ticket-form__form {
    margin-bottom: 50px;
}

.form__item {
    padding: 0 20px;
}

.form__item label{
    display: block;
}

input, select {
    border: 1px solid var(--purple);
    border-radius: 10px;
    font-size: 1rem;
    padding: 5px;
}

label {
    margin-bottom: 20px;
}

#km::after {
    content: "km";
}

/* ticket-data */
#ticket-data {
    display: none;
}

.ticket-data__data {
    font-weight: 500;
}

.data__item {
    flex-grow: 1;
    padding: 10px;
}
.ticket-data__data .data__item:first-child {
    background-color: #808080;
}
.ticket-data__data .data__item:not(:first-child) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.data {
    text-transform: capitalize;
    margin-top: 50px;
}

.data:not(#passenger) {
    font-weight: 400;
}

#ticket-cost::after {
    content: "\20AC";
}


@media screen and (max-width: 960px) {
    .ticket-form__form,
    .ticket-form__btn {
    flex-wrap: wrap;
    }

    .form__item {
        width: 100%;
        padding: 20px 0;
    }
}

@media screen and (max-width: 768px) {
    ul {
        flex-wrap: wrap;
    }

    .data__item {
        width: 100%;
    }
}

@media screen and (max-width:320px) {
    .section--common {
        padding: 5px;
    }
    
}