/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common */
:root {
    --purple: #b91450;
}

::placeholder, input {
    text-align: center;
}


/* typo */
h2 {
    text-align: center;
}

/* button */
.btn {
    margin: 0 15px;
}

/* ticket-form */
.ticket-form__form,
.ticket-form__btn {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.form__item {
    padding: 0 20px;
}

.form__item label{
    display: block;
}

#km::after {
    content: "km";
}